
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    #poll {
color: black;
    }
</style>
<body>
    <div id="poll">
        <form id="poll" action="/poll" method="post">
        <input id="poll" type="submit" name="poll" value="A">
        <input id="poll" type="submit" name="poll" value="B">
        <input id="poll" type="submit" name="poll" value="C">
        <input id="poll" type="submit" name="poll" value="D">
        </form>
    </div>
</body>
<script>
 var socket = io.connect('http://localhost:4000');
 socket.emit('poll_response', $('#poll').val());

</script>
</html>
